body{
    margin: 0px;
    font-family: verdana, sans-serif;
    background-color: white;
}

#header{
    margin-top: 0px;
    height: 188px;
}
#header-main-content{
    background-image: url('/images/cabezal.png');
    display: table;
    width: 1000px;
    height: 189px;
    margin: auto;
}
#shadowBody{
    margin: auto;
    display: table;
    -webkit-box-shadow: 0px 5px 10px rgb(0,0,0);
    -moz-box-shadow: 0px 5px 10px rgb(0,0,0);
    box-shadow: 0px 5px 10px rgb(0,0,0);
}
.homepage-logo{
    float: left;
    width: 15%;
    height: 145px;
}

.homepage-menu{
    position: relative;
    margin-top: 155px;
    margin-left: 380px;
    float: left;
    width: 550px;
    vertical-align: middle;
    text-align: center;
/*    border: 1px black solid;*/
}
.homepage-menu div{
    text-align: center;
    float: left;
    width: 33%;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
/*    border: 1px black solid;*/
}

.homepage-menu a{
    margin: auto;
    text-decoration: none;
    color: #C46896;
}
.homepage-menu b{
    color: #5A1400;
}
a.homepage-menu:hover{
    cursor: pointer;
}



#content{
}

#footer{
    height: 70px;
}
#footer-content{
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    height: 45px;
    background-image: url('/images/pie.png');
}

#footer-links{
    float: right;
    margin-top: 5px;
    margin-right: 0px;
    width: 650px;
    font-weight: bold;
}
#footer-links span, a{
    font-size: 14px;
    color: #C46896;
    text-decoration: none;
    margin-right: 40px;
}
#footer-links b{
    color: #5A1400;
}
#footer-designedby{
    width: 520px;
    line-height: 12px;
    margin: 5px auto 10px 525px;
    font-family: verdana;
    font-size: 9px;
    color: #5A1400;
    display: table;
}
#footer-designedby a{
    font-size: 9px;
    font-family: verdana;
    color: #5A1400;
}


#slot-title{
    margin-top: 8px;
    height: 46px;
    background-color: #C46896;
    background-image: url('/images/bg-slot.png');
}
#slot-title span{
    font-size: 21px;
    color: white;
    margin-left: 28px;
    padding-top: 20px;
    line-height: 46px;
}

#container-left{
    margin-top: 5px;
    vertical-align: top;
    display: inline-block;
    width: 230px;
}
#container-center{
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
    width: 515px;
}
#container-right{
    margin-top: 8px;
    vertical-align: top;
    display: inline-block;
    width: 225px;
}
#promo-header{
    height: 46px;
    background-color: #5A1400;
    background-image: url('/images/promo-header.png');
    background-position: right top;
    position: relative;
    z-index: 1;
}
#promo-body{
    height: 299px;
    width: 225px;
    background-color: #C46896;
    background-size: contain;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
#promo-container{
    position: relative;
    left: 0px;
    height: 299px;
    width: 675px;
}
.promo-picture-container{
/*    background-image: url('/images/foto-quienes-somos.png');*/
    width: 225px;
    height: 300px;
    float: left;
}
#promo-footer{
    top: -31px;
    height: 183px;
    background-image: url('/images/promo-footer-alpha.png');
    background-size: contain;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#promo-footer a{
    font-size: 12px;
    font-weight: bold;
    color: #5A1400;
    cursor: pointer;
    margin-right: 10px;
}
#promo-container-text{
    position: relative;
    left: 0px;
    height: 152px;
    width: 675px;    
}
.promo-text{
    color: white;
    font-size: 14px;
    width: 225px;
    height: 152px;
    float: left;
}
.promo-text-desc{
    padding: 15px;
}
.promo-text b{
    margin-right: 10px;
    float: right;
}

#main-container{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.product{
    background-color: white;
    width: 455px;
    height: 200px;
    font-size: 10px;
}
.product-description{
    margin-top: 10px;
    float: right;
    width: 150px;
}
.product-description a{
    color: #06799F;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.product-description a:hover{
    text-decoration: underline;
}
.product-description p{
    word-wrap: break-word;
    font-size: 10px;
    width: 147px;
    text-indent: 2px;
}
.product-description span{
    display: block;
    font-size: 12px;
}
.product-image{
    margin-top: 15px;
    margin-left: 2px;
    float: left;
    width: 300px;
}
.product-image a{
}
.product-image img{
    border: none;
}

.category-menu{
    width: 230px;
}
.category-menu a{
    font-family: verdana, arial;
    font-weight: bold;
    font-size: 12px;

    display: block;
    color: #C46896;
    font-weight: bold;
    text-decoration: none;

    margin-top: 10px;
    margin-left: 27px;
    
    vertical-align: middle;
}
.category-menu a:hover{
    color: #5A1400;
    cursor: pointer;
}
.category-menu .selected{
    color: #5A1400;
}


.page-description{
    text-align: justify;
    color: #666;
    display: block;
    font-size: 11px;
    line-height: 20px;
}
.page-description p{
    color: #5A1400;
}
.page-description p b{
    color: #C46896;
}


#product-list{
    display: none;
    margin-top: 20px;
}


#product-list-thumbs{
    
}
.product-thumbs{
    float: left;
    height: 150px;
    overflow: hidden;
    margin: 10px;
    width: 150px;
}
.product-image-thumbs{
    position: relative;
    z-index: 0;
}
.product-description-thumbs{
    color: white;
    font-weight: bolder;
    bottom: 0px;
    position: relative;
    z-index: 4;
    background-color: #C46896;
    opacity: 0.7;
    height: 150px;
    cursor: pointer;
    text-align: justify;
    word-wrap: break-word;
}

/*** Content */
.section-title{
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: #3B7695;
}

#service-list{
    margin-top: 20px;
}

.service{
    margin-bottom: 20px;
    font-family: verdana;
    line-height: 16px;
}
.service-title{
    color: #C46896;
    font-weight: bold;
    font-size: 14px;
}
.service-description{
    color: #5A1400;
    text-align: justify;
    font-size: 10px;
}
