body{
    margin: 0px;
    font-family: arial;
}

input{
    border: 1px #67E300 solid;
}
button{
    color: white;
    border: 1px solid #E40045;
    background-color: #F13C73;
}
button:hover{
    cursor: pointer;
    background-color: #94002D;
}

h1{
    color: #E40045;
}

#header{
    margin-top: 0px;
    height: 200px;
}
#header-main-content{
    background-color: #439400;
    background-image: url('/images/bg.png');
    background-repeat: repeat-x;
    display: table;
    width: 1000px;
    margin: auto;
    border: 1px #ddd solid;
}
.homepage-logo{
    float: left;
    width: 15%;
    height: 145px;
}
.homepage-banner{
    float: left;
    width: 75%;
    height: 50px;
}
.homepage-banner span{
    display: block;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: verdana;
}
.homepage-menu{
    margin-top: 55px;
    padding: 10px;
    float: left;
    width: 500px;
    height: 20px;
    line-height: 50px;
}
.homepage-menu a{
    color: #333;
    text-decoration: none;
    vertical-align: middle;
    padding: 10px;
    width: 250px;
    height: 20px;
    border: 1px solid #ddd;
    background-color: #F0B17C;
}
.homepage-menu a:hover{
    
    background-color: bisque;
    cursor: pointer;
}

#content{
    min-height: 579px;
}

#footer{
    border-top: 5px #67E300 solid;
    background-color: #439400;
    height: 200px;
}

#container-left{
    vertical-align: top;
    display: inline-block;
    width: 180px;
    min-height: 550px;
    border: 1px #67E300 solid;
}
#container-center{
    display: inline-block;
    vertical-align: top;
    width: 800px;
    min-height: 550px;
    border: 1px #67E300 solid;
}
#container-right{
    vertical-align: top;
    display: inline-block;
    width: 17%;
    min-height: 550px;
    border: 1px #67E300 solid;
}
#main-container{
    margin: auto;
    width: 1000px;
}

#userbar{
    height: 30px;
    background-color: #439400;
    border-bottom: 2px #67E300 solid;
}
#userbar a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    float: left;
    display: block;
    margin-left: 20px;
}

.product{
    float: left;
    width: 48%;
    height: 200px;
    margin: 5px;
    border: 1px #E4D7C5 solid;
    font-size: 10px;
}
.product-description{
    margin-top: 5px;
    float: right;
    width: 53%;
}
.product-description a{
    
    display: block;
    font-size: 12px;
    font-weight: bold;
}
.product-description p{
    display: block;
    font-size: 11px;
}
.product-description span{
    display: block;
    font-size: 12px;
}
.product-image{
    margin-top: 5px;
    float: left;
}

.category-menu{
    margin-top: 30px;
}

.category-menu a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
    background-color: #A9F16C;
}
.category-menu a:hover{
    color: white;
    background-color: #439400;
}


.page-description{
    color: #666;
    display: block;
    padding: 10px;
}

#product-list{
    margin-top: 20px;
}

.listadoTabla{
    width: 100%;
}

.listadoTabla table{
    width: 100%;
    border: 1px solid #67E300;
    background-color: #A9F16C;
}
.listadoTabla td{
    background-color: white;
    text-align: center;
    border: 1px solid #67E300;
    width: auto;
}

.bottom-buttons{
    height: 50px;
    text-align: center;
    border-top: 5px #A9F16C solid;
    margin-top: 50px;
}
.bottom-buttons a,.bottom-buttons input{
    float: left;
    margin-right: auto;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    height: 20px;
    display: block;
    width: 150px;
    color: white;
    border: 1px solid #E40045;
    background-color: #F13C73;    
    text-decoration: none;
}
.bottom-buttons a:hover,.bottom-buttons input:hover{
    cursor: pointer;
    background-color: #94002D;
}   

.form-new{
    width: 550px; 
    margin: auto;
}
.form-new input{
    border: 1px grey solid;
}
.form-new div{
    margin-top: 5px;
}
.form-new label{
    text-align: right;
    float: left;
    width: 200px;
    vertical-align: top;
}


.login-box{
    height: 100px;
    display: table;
    margin: auto;
}
.login-box label{
    float: left;
    display: block;
    width: 100px;
}
.login-box input{
    width: 150px;
}